
html {
      background: #100a1c;
        background-image:
            radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
                radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
                  background-attachment: fixed;
                    color: #6cacc5;
                    }

                    body {
                      color: #6cacc5;
                        font: 300 18px/1.6 "Source Sans Pro",sans-serif;
                          margin: 0;
                            padding: 5em 0 2em;
                              text-align: center;
                              }

                              h1 {
                                font-weight: 300;
                                  margin: 0;
                                  }

                                  /* Gradient text only on Webkit */
                                  .warning {
                                    background: -webkit-linear-gradient(45deg,  #c97874 10%, #463042 90%);
                                      -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
}
